.notice, .freePostring {
    background-color: var(--main-font-wh);
   
}

.board {
    display: block;
    /* /* padding: 4.6rem .8rem .8rem; */
    padding: 90px .8rem .8rem;
    background-color: var(--main-font-wh);
}


.board .board-top .board-header{
    position: relative;
    overflow: hidden;

    min-height: 10rem;
    height: 100%;

    /* border-radius: 3px; */
    margin-bottom: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    background-color: aliceblue;
}

.board .board-top .board-header img{
    
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: center;
}
.board .board-top .bd-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.board .board-top .bd-title-wrap .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
}
.board .board-top .bd-title-wrap .title h3{
    font-size: 22px;
}
.board .board-top .bd-searchFrm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bd-searchFrm.bd-search-gb select{
    flex: 100%;
}
.board .board-top .bd-searchFrm select, .bd-searchFrm.bd-search-gb select{
    padding: 6.1px;
    border: 1px solid var(--desc-line-color);
    border-radius: 2px 0 0 2px;
    background-color: #fff;
}

.board .board-top .bd-searchFrm .srch-wrap {
    flex: 1 1 100%;
    /* padding: 7px; */
    border: 1px solid var(--desc-line-color);
}

.srch-wrap input[type='search'] {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 7px;
}

.board .board-top .bd-searchFrm button {
    padding: 6px 0.8rem;
    white-space: nowrap;
    border-radius: 0 2px 2px 0;
}
.board .board-top .bd-searchFrm button:hover, .board .board-top .bd-searchFrm button:active{
    background-color: var(--board-col-hover-color);
    border: 1px solid var(--desc-line-color);
    color: #333;
}

.table {
    width: 100%;
    /* border-top: 1px solid var(--footer-font-rgrey); */
    /* border-bottom: 1px solid var(--footer-font-rgrey); */
}

.table .tb-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.table .tb-item a{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    cursor: pointer;
    z-index: 1;
}
.table .tb-item a:hover{
    background-color: rgb(0 0 0 / 5%);
}
.table .tb-item span {
    white-space: nowrap;
}

.table .tb-item >span:nth-child(1) {
    display: block;
    width: 3rem;
    text-align: center;
}

.sub-table {
    width: 100%;
    padding: .4rem 0;
    border-bottom: 1px solid var(--desc-line-color);
}

/* 순번 */
.sub-table tr:nth-child(1) td:nth-child(1) {
    max-width: 32px;
    text-align: center;
    font-size: small;
    color: var(--footer-bg-color);
}

/* 댓글수 */
.sub-table tr:nth-child(1) td:nth-child(3) {
    max-width: 32px;
    text-align: center;
    white-space: nowrap;   
}
.cmt-wrap{
    display: flex;
    border: 1px solid var(--desc-line-color);
    border-radius: 4px;
    padding: 2px 16px;

    flex-direction: column;
    align-items: center;
}

.cmt-wrap span{
    display: block;
}

.sub-table tr:nth-child(1) td:nth-child(3) span{
    font-size: xx-small;
    color: var(--footer-bg-color);
    padding-top: 2px;
    /* line-height: 2rem; */
}

.sub-table tr:nth-child(1) td:nth-child(2) div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sub-table tr:nth-child(1) td:nth-child(2) div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2px;
}
.sub-table tr:nth-child(1) td:nth-child(2) div span {
    white-space: nowrap;
    margin-right: 8px;
    
}
.sub-table tr:nth-child(1) td:nth-child(2) div > h4{
    font-size: 14px;
}


.sub-table tr:nth-child(2) td:nth-child(1) div {
    display: flex;
    
    align-items: center;
    align-content: center;
    justify-content: flex-start;

    min-width: 200px;
    max-width: 300px;
}
/* .sub-table tr:nth-child(1) td:nth-child(2) div h4{
    flex: auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.sub-table tr:nth-child(2) td:nth-child(1) div span{
    font-size: 13px;
    color: var(--footer-bg-color);
    display: block;
    border-right: 2px solid var(--desc-line-color);
    padding: 0 4px;
}
.sub-table tr:nth-child(1) td:nth-child(2),
.sub-table tr:nth-child(2) td:nth-child(1){
    padding: 0px 10px;
    width: 100%;
    min-width: 80%;
}
.board-btm{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 2rem;
}
/*스마트폰 가로+세로*/
@media screen and (min-width: 320px) and (max-width: 480px) {
}

/*스마트폰 가로*/
@media screen and (min-width: 321px) {
}

/*스마트폰 세로*/
@media screen and (max-width: 320px) {
}

/*iphone4와 같은 높은 크기세로*/
@media only screen and(-webkit-min-device-pixel-ratio : 1.5), only screen and(min-device-pixel-ratio : 1.5) {
}

/*iphone4와 같은 높은 해상도 가로*/
@media screen and (min-width: 640px) {
    .gb-hr.hr-bold{
        margin: 26px 0 .8rem;
    }
    .board {
        /* /* padding: 0rem .8rem .8rem; */
        padding: 125px .8rem .8rem;
    }
    .board .board-top .searchFrm-wrap{
        display: flex;
        
    }
    .board .board-top .searchFrm-wrap .bd-search-gb{
        flex: auto;
        width: 30%;
    }
    .board .board-top .bd-searchFrm {
       justify-content: flex-end;
    }
    .board .board-top .bd-searchFrm .srch-wrap {
        flex: none;
    }
    .board .board-top .bd-title-wrap {
        padding-top: 34px;
    }

}

@media screen and (min-width: 768px) {
    /* .board .board-top .bd-searchFrm .srch-wrap {
         width: 30%; 
    } */
}

/* iPad가로+세로 */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px ) {
}

/* iPad가로*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px ) and (orientation : landscape) {
}

/* iPad세로*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px ) and (orientation : portrait) {
}

/*태블릿 해상도 사이즈*/
@media screen and (min-width: 768px) and (max-width: 1024px ) {
}

/*데스크탑 브라우저 가로*/
@media screen and (min-width: 1025px) {
   
}

/*데스크탑 브라우저 가로*/
@media screen and (min-width: 1225px) {
}

/*큰 모니터*/
@media screen and (min-width: 1824px) {
}
