/*  #############################################
* 변수를 이용해서 컬러 적용하기
* var(--main-bg-color);
############################################*/
:root {
    --mid-bg-color: #f3f3f3;
    --main-bg-color: #fff;
    --sub-bg-color: #6f8c9b;
    --main-font-wh: #fbfbfb;
    --main-bg-m-grey: #ddd;
    --footer-bg-color: #666;
    --footer-font-rgrey: #aaa;
    --desc-line-color: #e9e9e9;
    --board-col-hover-color : #e9e9e973;
    --main-hover-color: #8da4b1;
    --denger-color: rgb(255 13 13 / 82%);
}

/*  #############################################
    -- 전체 CSS 적용
    ############################################*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    margin: 0 auto;
    min-width: 100%;
    background-color: var(--footer-bg-color);
}

html ,body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar , body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}


:focus {
    outline: 0;
}

div, article, section,p {
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
    outline: none
}

a:hover {
    text-decoration: underline;
}

button, .btn {
    display: inline-block;
    border: 1px solid var(--desc-line-color);
    border-radius: 2px;
    padding: .4rem .8rem;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.gb-hr {
    width: 100%;
    margin: .8rem 0 0 ;
    border-bottom: 1px solid var(--desc-line-color);
}

.gb-hr.hr-bold {
    margin: 1rem 0 .8rem;
    border-bottom: 2px solid rgb(102 102 102 / 73%);
}
.gb-hr.hr-bold.hrbtm{
    margin: .8rem 0 1rem;
}

.depth{
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}
.depth section div{
    font-size: 13px;
    color: #333;
}
.depth section div span{
    font-weight: bolder;
    color: var(--footer-font-rgrey);
}
#header button, #header .btn{
    border: 0;
    border-radius: 0;
    padding: .4rem .6rem ;
}
#header button:not(.menu):hover, #header .btn:not(.menu):hover{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    /* text-decoration: underline; */
    color: #3e7fa1;
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) all .2s;
}


.content-wrap.common{
    display: block;
    /* /* padding: 4.6rem .8rem .8rem; */
    padding: 82px .8rem .8rem;
    background-color: var(--main-font-wh);
}
.content-wrap.common.body{
    padding: .8rem .8rem;
}

#menu_list button, #menu_list .btn{
    
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: .4rem .6rem ;
}
#menu_list button:hover, #menu_list .btn:hover {

    background-color: transparent;
    border: 0;
    border-right: 2px solid black;
    border-left: 2px solid black;
    
    padding: .3rem .5rem .3rem .5rem;
    margin: 0 .8rem;

    /* text-decoration: underline; */
    color: #3e7fa1;
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) all .2s;
}

.btn.btn-dk {
    background-color: var(--main-hover-color);
    color: var(--main-font-wh);
}

button:hover, .btn:hover {
    border: 1px solid var(--denger-color);
    background-color: var(--denger-color);
    color: var(--desc-line-color);
}

button.btn-dk:hover {
    background-color: var(--denger-color);
    color: var(--desc-line-color);
}


button.btn-wh, .btn.btn-wh{
    padding: 6px 0.8rem;
    white-space: nowrap;
    border-radius: 0 2px 2px 0;
    text-decoration: none;
}
button.btn-wh:hover, .btn.btn-wh:hover, button.btn-wh:active, .btn.btn-wh:active{
    background-color: var(--board-col-hover-color);
    border: 1px solid var(--desc-line-color);
    color: #333;
}

/*  #####################################################

    -- Join STYLE -- 
    ##################################################### */

#join{
    background-color: #ccd8de;
}

.join-hd {
    margin-bottom: 2rem;
}
.join-hd h3{
    font-size: 22px;
    margin-bottom: 4px;
}
.join-hd > p{
    font-size: 14px;
    color: #666;
    font-weight: 400;
}
.join-main{
    padding: 1rem;
    border: 1px solid rgb(141 147 150 / 54%);
    border-radius: 3px;
    margin-bottom: 2rem;
}
 
.join-main #joinFrm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.join-main #joinFrm p label {
    font-size: 13px;
    font-weight: bold;
} 
.join-main #joinFrm p label .blit{
    font-size: 13px;
    font-weight: bold;
    color: red;
}
.join-main #joinFrm p label span:not( .blit) {
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
} 

.join-main #joinFrm input{
    border: 1px solid var(--desc-line-color);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 3px;
}
.join-main #joinFrm p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#login_Submit_btn {
    /* color: #fff; */
    background-color: rgb(0 0 0 / 9%);
}
#login_Submit_btn:hover, #login_Submit_btn:active {
    color: #fbfbfb;
    background-color: rgb(0 0 0 / 25%);
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) all .2s;
}

/*  #####################################################

    -- notice_board STYLE -- 
    ##################################################### */
#notice_post.content-wrap.common > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
}
.post-hd{
    display: flex;
    text-align: left;
    justify-content: space-between;
    flex-direction: column;
}

.post-main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}
table.board.bd-notice-table{
    border-top: 2px solid #333;
    border-collapse: collapse;
    font-size: 14px;
    /* margin: 0 auto; */
    border-bottom: 2px solid #333;
}

.bd-notice-table tbody td{
    padding: 10px;
}

.post-info{
    width: 80px;
}
.bd-notice-table .tb-noti-postTitle{
    display: flex;
    text-align: left;
}
thead tr{
    background-color: #e8e8e8;
}
.board> thead tr:nth-child(1) th:nth-child(2){
    text-align: right;
}
.board> thead tr:not(:first-child) th:nth-child(1){
    width: 50px;
    white-space: nowrap;
    max-width: 50px;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
}
.board> thead tr:not(:first-child) th:nth-child(2){
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    background-color: #f3f3f3;
    /* border: 3px solid #e8e8e8; */
}
.board> thead th{padding : 12px; border-bottom: #6f8c9b;}

.board> tbody tr:nth-child(1){
    border-bottom: 0;
}
.board> tbody tr:nth-child(1) .post-info{
    width: 100%;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    color: #8d9092;
    
}

tbody tr .post{
    min-height: 300px;
}
.td_cmt_wrap, .tb_comment{
    font-size: 13px;
}
.td_cmt_wrap > span{
    font-size: 12px;
    color: #aaa;
    font-weight: bold;
}


.td_cmt_wrap > .gb-hr.hr-bold {
    margin: .8rem 0 .8rem;
}
#commentFrm{
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 120px;
}
#commentFrm > div{
    display: flex;
    flex: 1 1 auto;
    align-content: stretch;
    align-items: stretch;
}

#commentFrm > div > label{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;

}
#commentFrm > div > textarea{
    flex: 1 1 auto;
    border:  1px solid #ddd;
    overflow: hidden;

} 
#commentFrm > div > input{
    margin-left: 5px;
    border: 0;
    background-color: transparent;
    text-align: left;
    min-width: 20px;
    max-width: 100px;
}
.tb_comment {
    border-collapse: collapse;
    width: 100%;

    margin-top: 1rem;
    margin-bottom: 2rem;
}
.tb_comment thead tr{
    background-color: transparent;
}
.tb_comment thead tr:nth-child(1) th{
    text-align: left;
    border-bottom: 2px solid #666;
    font-size: 12px;
    color: #aaa;
}
.tb_comment thead tr:nth-child(2) th{
    
    border-bottom: 1px solid #ddd;
}
.tb_comment thead tr th, .tb_comment tbody tr td {
    padding: 12px 0;
    text-align: center;
}
.tb_comment tbody tr {
    border-bottom: 1px solid #ddd;
}

.tb_comment thead tr:nth-child(2) th:nth-child(2), .tb_comment tbody tr td:nth-child(2){
    text-align: left;
}
.tb_comment thead tr:nth-child(2) th:nth-child(4), .tb_comment tbody tr td:nth-child(4){
    width: 70px;   
}

.board_link_wrap{
    padding: 2rem 0 3rem 0;
    text-align: center;
    font-size: 13px;
}


/*스마트폰 가로+세로*/
@media screen and (min-width: 320px) and (max-width: 480px) {
}

/*스마트폰 가로*/
@media screen and (min-width: 321px) {
}

/*스마트폰 세로*/
@media screen and (max-width: 320px) {
}

/*iphone4와 같은 높은 크기세로*/
@media only screen and(-webkit-min-device-pixel-ratio : 1.5), only screen and(min-device-pixel-ratio : 1.5) {
}

/*iphone4와 같은 높은 해상도 가로*/
@media screen and (min-width: 640px) {

    .content-wrap.common{
        padding: 145px .8rem .8rem;
    }
    .content-wrap.common.body{
        padding: .8rem .8rem;
    }

}

@media screen and (min-width: 768px) {
    /* .content-wrap.common{
        width: 720px !important;
    } */
    /* #main.join_frm{
        display: flex;
    } */
    /* #main.join_frm  aside{
        background-color: #666;
    } */
}

/* iPad가로+세로 */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px ) {
}

/* iPad가로*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px ) and (orientation : landscape) {
}

/* iPad세로*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px ) and (orientation : portrait) {
}

/*태블릿 해상도 사이즈*/
@media screen and (min-width: 768px) and (max-width: 1024px ) {
}

/*데스크탑 브라우저 가로*/
@media screen and (min-width: 1025px) {
   
}

/*데스크탑 브라우저 가로*/
@media screen and (min-width: 1225px) {
}

/*큰 모니터*/
@media screen and (min-width: 1824px) {
}
